body{
    background-color: rgb(3, 3, 3);
    overflow-x: hidden;  right: 5px;
    position: relative;
    left: px;

}

div{
    position: relative;
    left: 11px; 
    
    color: #ffffff;
}
.div0{
    font-size: 20px;
}

.samim30best{
    position: relative;
    height: 600px;
    width: 500px;
    left: 600px;
    bottom: 300px;
}

.div1{
    padding: 20px;
    text-align: center;
    color: #ffffff;
}
.tekstboks{
    background-color: rgb(78, 78, 78);
    text-align: left;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

.div2{
    padding: 80px;
    text-align: center;
    color: #ffffff;
}
.tekstboks2{
    background-color: rgb(78, 78, 78);
    text-align: left;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}



.div3_1{
    position: relative;
    left: 170px;
}
.div3_2{
    position: relative;
    left: 520px;
    bottom: 180px;
}
.div3_3{
    position: relative;
    left: 900px;
    bottom: 359px;
}
.div3{
    background-color: rgb(49, 49, 49);
}

ul{
    color: white;
    list-style: none;
    position: relative;
    top: 250px;
}

#nav{
    display: flex;
    justify-content: left;
}

#advice{
    margin-right: 10px;
}